{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@format/date": "./src/utils/format/date",
          "@format/text": "./src/utils/format/text",
          "@assets/resource": "./src/assets/resource",
          "@assets/logo": "./src/assets/yt_logo_rgb_light.png",
          "@data": "./src/videoData",
          "@components/common": "./src/components/common"
        }
      }
    ],
    "react-hot-loader/babel"
  ]
}
